.User {
    margin:  20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}
.Para {
    margin-top: 15px;
    padding: 0 10px;
}
.User input {
    width: 60%;
}

@media (min-width: 600px) {
    .Home {
        width: 80%;
    }
    .Form {
        width: 40%;
    }
    .Para {
        margin-top: 15px;
        padding: 0 10px;
    }
}